# Azure Service Bus Configuration
# Leave blank to use the built-in Local Service Bus Simulator (Zero-Config)
AZURE_SERVICE_BUS_CONNECTION_STRING=
SERVICE_BUS_TOPIC=delivery-saga-topic

# Server Port
PORT=5001

# Step Delay in ms for clear Saga visualization in UI
SIMULATION_STEP_DELAY_MS=1200
